* {
  /* Because we're not animals. */
  box-sizing: border-box;
}

p {
  margin: 1em 0 1.5em;
}

.docs-container {
  padding-top: 60px;
  height:calc(100% - 60px);
}

.docs-article {
  float:right;
  z-index:2;
  width: calc(100% - 200px);
  padding: 15px;
}

.docs-article img {
  margin: 15px auto 30px;
  max-width: 80%;
  display: block;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.2);
}

.doc-title {
  font-size:44px;
  margin: -2px 0 1em;
  letter-spacing: 2px;
}

.docs-nav-title {
  letter-spacing: -.3px;
  font-size:40px;
  padding: 0 0 5px 15px;
  -webkit-box-shadow: 2px 0px 6px -3px rgba(100,100,100,0.75);
  -moz-box-shadow: 2px 0px 6px -3px rgba(100,100,100,0.75);
  box-shadow: 2px 5px 6px -5px rgba(100,100,100,0.75);
}

.docs-nav {
  background-color:white;
  float:left;
  box-sizing:border-box;
  width: 200px;
  position: fixed;
  z-index:20;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(100,100,100,0.75);
  -moz-box-shadow: 0px 0px 11px 0px rgba(100,100,100,0.75);
  box-shadow: 0px 0px 11px 0px rgba(100,100,100,0.75);
  height:100%;
}

.docs-nav-ul {
  padding:0;
  list-style-type: none;
}

.docs-nav-li {
  padding:0 0 0 15px;
  font-size:24px;
  line-height: 54px;
  border-bottom: 1px solid rgba(0,0,0,.2);
}

.docs-nav-li:hover {
  cursor:pointer;
  -webkit-box-shadow: inset -5px 0px 0px 0px rgba(0,0,80,.65);
  -moz-box-shadow: inset -5px 0px 0px 0px rgba(0,0,80,.65);
  box-shadow: inset -5px 0px 0px 0px rgba(0,0,80,.65);
}

.docs-nav-li:active {
  transform: scale(.98);
}

table {
  border-spacing: 0;
}

table thead th {
  text-align: left;
}

table thead tr,
table tbody tr:nth-child(2n) {
  background: rgba(0, 0, 0, 0.1);
}

table td,
table th {
  padding: 10px 5px;
}
