.landingImage {
  background-image: url('https://images.unsplash.com/photo-1474696100102-01b8519f06f3?dpr=2&auto=format&fit=crop&w=767&h=511&q=80&cs=tinysrgb&crop=');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: 0;
  width:100%;
  height:100vh;
}

.landingInfo {
  position:relative;
  background-color: rgba(0,0,0,.45);
  width:100%;
  margin-right: auto;
  margin-left: auto;
  height:100vh;
  color:white;
  padding-top:.1px;
}

.landing-headers {
  padding-top:7vh;
}

.landing-headers h3 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 90px;
  letter-spacing: -1.5px;
}

.landing-image-text {
  width:60%;
  margin-right:auto;
  font-size: 20px;
  line-height: 30px;
  margin-left:auto;
  text-align:center;
}

.landing-image-button {
  width: 20%;
  margin-right:auto;
  margin-left:auto;
  height: 50px;
  font-size: 26px;
  margin-top: 20px;
  line-height: 50px;
  text-align:center;
  border: 2.5px solid white;
  border-radius: 2px;
}

.landing-image-button:hover {
  background-color: rgba(200,200,200, .1);
}

.learn-more {
  position: absolute;
  bottom:0px;
  height:40px;
  color:white;
  width: 100%;
  text-align: center;
}

.learn-more p {
  line-height: 40px;
  height:40px;
  margin:0px;
  display: inline-block;
}

.learn-more i {
  position:absolute;
  text-align: center;
  top: 9px;
}

.landing-headers a {
  text-decoration: none;
}

.landing-headers a:visited {
  color: inherit;
}

.landing-article-header {
  text-align: center;
  height: 15vh;
  background-color: rgba(0,0,0,1);
  -webkit-box-shadow: inset 0px 0px 125px 10px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 0px 125px 10px rgba(0,0,0,0.5);
  box-shadow: inset 0px 0px 125px 10px rgba(0,0,0,0.5);
  font-size: 40px;
  color:white;
}

.landing-article-header h3{
  line-height: 15vh;
  margin-top:0px;
  margin-bottom: 0px;
}

.what {
  box-sizing: border-box;
  position:relative;
  background-image: url('https://images.unsplash.com/photo-1454023989775-79520f04322c?dpr=2&auto=format&fit=crop&w=767&h=511&q=80&cs=tinysrgb&crop=');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  text-align:center;
  color: white;
  width: 50%;
  height: 55vh;
  padding: 10px;
  padding-right: 35px;
  padding-top: 75px;
  padding-left: 35px;
}

.landing-cover {
  position:absolute;
  top:0;
  left:0;
  right:0;
  height:100%;
  width:100%;
  bottom:0;
  background-color: rgba(0,0,0,.75);
  -webkit-box-shadow: inset 0px 90px 120px -40px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px 90px 120px -40px rgba(0,0,0,1);
  box-shadow: inset 0px 90px 120px -40px rgba(0,0,0,1);
}

.how {
  box-sizing: border-box;
  position: relative;
  background-image: url('https://images.unsplash.com/38/awhCbhLqRceCdjcPQUnn_IMG_0249.jpg?dpr=2&auto=format&fit=crop&w=767&h=575&q=80&cs=tinysrgb&crop=');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
  text-align:center;
  float: left;
  width: 50%;
  height: 55vh;
  padding: 10px;
  padding-top: 75px;
  padding-right: 35px;
  padding-left: 35px;
}

.what h4 {
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 15px;
  z-index: 100;
  position: relative;
}

.how h4 {
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 15px;
  position: relative;
  z-index: 100;
}

.what p {
  font-size: 1.3em;
  position: relative;
  z-index: 100;

}

.how p {
  font-size: 1.3em;
  position: relative;
  z-index: 100;
}

.landing-article-break {
  background-color: rgba(0,0,0,.95);
  z-index: 0;
  background-size: cover;
  width:100%;
  height:30vh;
  text-align: center;
}

.landing-article-break h3 {
  color:white;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 70px;
  line-height: 30vh;
}

.landing-article {
  height:70vh;
}

.solution {
  box-sizing: border-box;
  width: 33.33%;
  position: relative;
  text-align: center;
  float: left;
}

.solution h4 {
  font-size: 24px;
  margin-bottom: 5px
}

.solution i {
  font-size: 100px;
}

.solution p {
  padding-left: 30px;
  padding-right: 30px;
}

.landing-button {
  width: 45%;
  position:relative;
  margin-right:auto;
  margin-left:auto;
  height: 50px;
  font-size: 26px;
  margin-top: 20px;
  line-height: 50px;
  text-align:center;
  border: 2.5px solid white;
  border-radius: 2px;
}

.landing-button:hover {
  background-color: rgba(200,200,200, .1);
}

.landing-bottom {
  background-image: url('https://images.unsplash.com/photo-1418272443502-f4af3b83661e?dpr=2&auto=format&fit=crop&w=767&h=431&q=80&cs=tinysrgb&crop=');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  background-size: cover;
  color:white;
}

.landing-bottom-header {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  position: relative;
  padding-top: 40px;
  font-size: 40px;
}
.landing-footer {
  position: absolute;
  bottom:0px;
  width:100%;
}
.landing-bottom-cover {
  position:absolute;
  top:0;
  left:0;
  right:0;
  height:100%;
  width:100%;
  bottom:0;
  background-color: rgba(0,0,0,.4);
  -webkit-box-shadow: inset 0px -90px 120px -40px rgba(0,0,0,.75);
  -moz-box-shadow: inset 0px -90px 120px -40px rgba(0,0,0,.75);
  box-shadow: inset 0px -90px 120px -40px rgba(0,0,0,.75);
}

.solution ul {
  list-style-type: none;
  padding-left:0px;
}

.solution ul li a {
  color:white;
  text-decoration: none;
}

.solution ul li a:hover {
  color:white;
  cursor: pointer;
}
