.tutorial {
  position: absolute;
  height: calc(100vh - 24px);
  width:25%;
  background-color:white;
  right:0;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(100,100,100,0.75);
  -moz-box-shadow: 0px 0px 11px 0px rgba(100,100,100,0.75);
  box-shadow: 0px 0px 11px 0px rgba(100,100,100,0.75);
  padding:10px;
}

.tutorial-main-title {
  letter-spacing: 4px;
  margin-top:3px;
  margin-bottom:3px;
}

.tutorial-header {
  margin-top:3px;
  margin-bottom: 3px;
}

.tutorial-title {
  margin-top: 5px;
  margin-bottom: 10px;
}

.tutorial-buttons {
  box-sizing: border-box;
  position:absolute;
  height:30px;
  width: 95%;
  bottom: 10px;
}
.tutorial-button {
  box-sizing: border-box;
  position:relative;
  height:30px;
  width: 50%;
}

.tutorial-description {
  margin-top:0px;
  font-size: 14px;
  text-align: center;
}

.tutorial-image {
 max-height: 25vh;
 max-width:100%;
 margin-right:auto;
 margin-left: auto;
 display:block;
}
